// Mixins

@mixin grid-styling($map) {
  @each $col, $colour in $map {
    &.#{$col} {
      background-color: $colour;
    }
  }
}

@mixin button-display() {
  @each $button, $colour in $buttons {
    .#{$button} {
      background-color: $colour;
      &:hover {
        @include button-hover($colour);
        font-size: 1.2rem;
      }
    }
  }
}

@mixin button-hover($colour) {
  transition: 1s ease-out;
  background-color: lighten($colour, 15%);
  cursor: pointer;
}
