// Variables

// Colours
$main-font-colour: #777;
$primary-colour: #58e1c1;
$link-colour: #51ddfc;
$nav-button-colour: #fff;
$frame-border: #ccc;

$default: #51ddfc;
$error: #e4757a;
$info: #927bc1;
$success: #63cc82;
$warning: #fd7856;

// Media Query Breakpoint
$breakpoint: 768px;
