// Variables

// Colours
$main-font-colour: #777;
$primary-colour: #58e1c1;
$link-colour: #51ddfc;
$nav-button-colour: #fff;
$frame-border: #ccc;

$default: #51ddfc;
$error: #e4757a;
$info: #927bc1;
$success: #63cc82;
$warning: #fd7856;

// Media Query Breakpoint
$breakpoint: 768px;

// Grid Background Colours

$grid-colours: (
  "col-1": #927bc1,
  "col-2": #fd7856,
  "col-3": #deb2ee,
  "col-4": #7ee6fd,
  "col-5": #88d9a0,
  "col-6": #4da2bb,
  "col-7": #ec9fa3,
  "col-8": #fd9f85,
  "col-9": #e4757a,
  "col-10": #63cc82,
  "col-11": #51ddfc,
  "col-12": #80e8d1,
);

$buttons: (
  "default": $default,
  "error": $error,
  "info": $info,
  "success": $success,
  "warning": $warning,
);
