/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
  margin-top: 15px;
  width: 100%;
  color: $nav-button-colour;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: 5px;
  &:hover {
    background-color: lighten($nav-button-colour, 15%);
    cursor: pointer;
  }
}

@include button-display;
